doctype html
html
  head
    title New Book Created
  body
    h1 A New Book Has Been Added!
    p
      | Title: 
      strong #{title}
    p
      | Author: 
      strong #{author}
    p
      | Year Published: 
      strong #{year}
    p Thank you for using the Book API system!
